﻿.pose-cursos{
    margin-top:-4%;

}
.pose-opniao{
    margin-top:-4%
}
.pose1{
    margin-top:-22%;
}





@media (min-width:300px) and (max-width:500px){
    .pose1{
        margin-top:-50%;
    }
    .pose-cursos{
        margin-top:-15%;
    }
    .txt5{
        font-size:40px;
    }
}