﻿.card{
    margin-top:7%;
}
.pose-img{
	width: 100%;
	

}
.font-txt1{
font-size:40px;
}
.pose1{
    margin-top:2%;
}
.pose2{
  margin-top:-1%;
}

.pose4{
    margin-top:-7%;
}
.pose5{
    margin-left:16%;
    margin-top:-1%;

}
.pose6{
    margin-top:-1%;
}
.color-txt-white{
    color:white;
}

.color-txt-blue{
    color:#1f466f ;
}
.pose-card{
    margin-top:-4%;
}
.footer1{
    margin-top:5%;
}
.logo1 img
{
	max-width: 40%;
	margin-top:15%;
}
.card-title{
    font-size:25px;

}
.fa1{ 
    color:black ;
}
.fa1:hover { 
    color:green ;
}
.cr_text{
    margin-left:10%;
    margin-top:3%;
  
}
.txt-presencial{
    color:black;
    font-size:16px;
}
.txt-presencial:hover{
    color:blue;
}
.fa-arrow-circle-right {
	position: sticky;
}
.pose-icon{
    left:100%;
}


@media (min-width:300px) and (max-width:500px){
    .card{
        margin-top:90px;
    }

    .logo1 img{
	max-width: 30%;
	margin-top:2%;
}

.font-txt1{
    font-size:30px;
    }
    .pose1{
        margin-top:5%;
    }
    .pose2{
        margin-top:-13%;
     }
     .pose3{
         margin-top:-8%;

     }
     .pose4{
        margin-top:-20%;
     }
     .pose5{
        margin-left:1%;
        margin-top:-10%;
    
    }
    .pose6{
margin-top:-12%;    
    }

    .pose-card{
        margin-top:-16%;
    }
    .pose-cards{
        margin-top:-1%;
    }
    .card-title{
        font-size:20px;
    
    }
    .menu_mm{
        font-size:20px;
    }
    .cr_text{
        margin-left:-30%;
    }

}